* {
    margin         : 0;
    padding        : 0;
    list-style     : none;
    text-decoration: none;
    box-sizing     : border-box;
}

:root {
    --primary--color: #0280C7;
}

body {
    background: #DEDDDD;
}

.sidebar {
    display         : none;
    background-color: var(--primary--color);
    color           : white;
    z-index         : 11;

}

.sidebar .sidebar__btn:hover {
    background-color: white !important;
    color           : var(--primary--color) !important;
}

.sidebar .sidebar__btn {
    width: 23%;
    float: right;
}

.head__top {
    position: sticky;
    top     : 0;
    z-index : 10;
}


.bg-light {
    background: var(--primary--color) !important;
}

.container-fluid {
    padding: 0;
    width  : 1150px;
    margin : 0 auto;
}

.head__left {
    display    : flex;
    align-items: center;
}

.head__left h5 {
    margin     : 0 0 0 10px;
    color      : white;
    font-weight: 500;
}

.head__left h5 b {
    font-size: 12px;
    color    : white;

}

.head__logo {
    background         : url("/img/p.png") no-repeat;
    background-size    : cover;
    height             : 60px;
    width              : 65px;
    background-position: center;
    border-radius      : 20px;
}


.li__search {
    width: 100%;
}

.search__box {
    width        : 100%;
    height       : 50px;
    border       : none;
    outline      : none;
    border-radius: 20px;
}

.head__right {
    width          : 100%;
    justify-content: space-around;
    flex-direction : unset;
}

.head__phone,
.head__cart {
    display    : flex;
    align-items: center;
    color      : white;
    cursor     : pointer;

}

.head__phone i,
.head__cart i {
    font-size   : 30px;
    margin-right: 5px;
}

.head__phone h5,
.head__cart h5 {
    font-weight: 500;

}

.head__cart a {
    text-decoration: none;
    display        : flex;
    align-items    : center;
    color          : white;
    position       : relative;
}

.navbar-toggler {
    width       : 6%;
    margin-right: 50px;
    padding     : 0;
}

.numberCircle {
    position     : absolute;
    top          : 5px;
    left         : 20px;
    width        : 17px;
    text-align   : center;
    background   : red;
    border-radius: 50%;
    border       : none;
    font-size    : 12px;
}


.showme {
    width           : 153px;
    box-shadow      : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #1D1E22;
    border          : 3px solid white;
    padding         : 20px;
    text-align      : center !important;
}

.head__cart:hover .showme-wrap {
    display: block;
}

.showme-wrap {
    display    : none;
    position   : absolute;
    margin-left: -190px;
    text-align : center;
    z-index    : 1;
}

.showme:hover {
    display: block;
}

.head__cart:hover .showme {
    display: block;
}

.showme {
    top            : 110px;
    position       : relative;
    background     : #ffffff;
    border         : 1px solid #719ECE;
    width          : 400px;
    height         : 150px;
    border-radius  : 3px;
    -webkit-filter : drop-shadow(0 1px 10px rgba(113, 158, 206, 0.8));
    -moz-box-shadow: 0 1px 10px rgba(113, 158, 206, 0.8);
    filter         : drop-shadow(0 1px 10px rgba(113, 158, 206, 0.8));
}

.showme h4 {
    color      : var(--primary--color);
    font-weight: 500;
}

.showme:after,
.showme:before {
    bottom        : 100%;
    border        : solid transparent;
    content       : " ";
    height        : 0;
    width         : 0;
    position      : absolute;
    pointer-events: none;
}

.showme:after {
    border-color       : rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width       : 19px;
    left               : 50%;
    margin-left        : -19px;
}

.showme:before {
    border-color       : rgba(113, 158, 206, 0);
    border-bottom-color: #719ECE;
    border-width       : 20px;
    left               : 50%;
    margin-left        : -20px;
}

.head__signin button {
    height       : 50px;
    width        : 50px;
    border       : none;
    border-radius: 50%;
    background   : white;
    color        : var(--primary--color);
}

.head__bottom {
    background: white;
}

.head__bottom--body {
    width : 80%;
    margin: 0 auto;
}

.head__bottom--body nav a {
    display        : flex;
    align-items    : center;
    text-decoration: none;
    color          : black;
}

.head__bottom--body nav a:hover {
    color: var(--primary--color);
}

.head__bottom--body nav a i {
    font-size: 30px;
}

.head__bottom--body nav a h4 {
    margin     : 0;
    font-size  : 20px;
    margin-left: 5px;
    font-weight: 500;
}

.section__body {
    width        : 1130px;
    margin       : 30px auto;
    margin-bottom: 0;
    transition   : 0.5s;
}

.section__top {
    height : 60px;
    display: flex;
}

.w3-teal {
    width                 : 60px;
    background-color      : var(--primary--color) !important;
    border-top-left-radius: 20px;
}

#openNav {
    height          : 100%;
    width           : 100%;
    border          : none;
    background-color: var(--primary--color) !important;
    color           : white;
    font-size       : 30px;
}

.img__advertisement {
    background             : url("/img/img-1.webp") no-repeat;
    height                 : 100%;
    width                  : 100%;
    background-size        : 165% 100%;
    background-position    : center;
    border-top-right-radius: 20px;
}

.section__bottom {
    margin: 0;
}

.section__menu,
.section__advertisement {
    padding: 0;
}

.section__advertisement {
    height    : 400px;
    transition: 0.5s;
    display   : flex;
}

.section__menu {
    background-color         : var(--primary--color);
    border-bottom-left-radius: 20px;
}

.section__menu ul {
    height : 100%;
    margin : 0;
    padding: 0;
}

.section__menu .w3-button {
    border-top: 1px solid white;
}

.section__menu ul li {
    height     : 80px;
    display    : flex;
    align-items: center;
}

.section__menu ul li a {
    text-decoration: none;
    color          : white;
    font-size      : 20px;
}

.section__menu ul li a span {
    transition: 0.7s;
}

.section__menu ul li:hover {
    letter-spacing: 2px;

}

.section__menu .w3-button:hover {
    background-color: var(--primary--color) !important;

}

.section__menu ul li a i {
    font-size: 30px;
    margin   : 0 30px;
}

.section__advertisement {
    padding-top: 10px;
}

.wrapper__left {
    width        : 66%;
    height       : 100%;
    overflow     : hidden;
    position     : relative;
    border-radius: 5px;
}

.wrapper__left div {
    width                  : 100%;
    height                 : 100%;
    position               : absolute;
    animation              : animate 20s infinite;
    opacity                : 0;
    -webkit-background-size: cover;
    background-size        : 100% 100%;
    background-position    : center center;
}

.wrapper__left>div:nth-child(2) {
    animation-delay: 5s;
}

.wrapper__left>div:nth-child(3) {
    animation-delay: 10s;
}

.wrapper__left>div:nth-child(4) {
    animation-delay: 15s;
}

.wrapper__left>div:nth-child(5) {
    animation-delay: 20s;
}

@keyframes animate {
    10% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

}

.wrapper__right {
    width       : 34%;
    padding-left: 10px;
}

.wrapper__right div {
    height         : 198px;
    background-size: 100% 100%;
    transition     : 0.5s;
}

.wrapper__right div:hover {
    transform: scale(1.05);
}

.background__right--1 {
    background: url("img/img_8.webp") no-repeat;
}

.background__right--2 {
    background: url("img/img_9.webp") no-repeat;
}

.background__1 {
    background: url(/img/img_1.webp) no-repeat;
}

.background__2 {
    background: url(/img/img_2.webp) no-repeat;
}

.background__3 {
    background: url(/img/img_3.webp) no-repeat;
}

.background__4 {
    background: url(/img/img_4.webp) no-repeat;
}

.background__5 {
    background: url(/img/img_5.webp) no-repeat;
}

.background__6 {
    background: url(/img/img_6.webp) no-repeat;
}

.background__7 {
    background: url(/img/img_7.webp) no-repeat;
}

.wrapper__2 {
    padding        : 0;
    padding-top    : 10px;
    --bs-gutter-x  : none;
    justify-content: space-between;
}

.wrapper__2 a {
    padding: 0;
    width  : 32%;
}

.wrapper__2 div {
    height         : 165px;
    background-size: 100% 100%;
    transition     : 0.5s;
    border-radius  : 5px;
    width          : 100%
}

.wrapper__2 div:hover {
    transform: scale(1.05);
}

.section__select {
    background-color: white;
    height          : 440px;
    margin-top      : 10px;
    border-radius   : 10px;
}

.select__top {
    display        : flex;
    justify-content: space-between;
}

.box__left,
.box__right {
    padding: 5px 20px;
}

.box__left h5 {
    font-weight: bold;
    font-size  : 24px;
}

.box__right {
    display        : flex;
    width          : 430px;
    justify-content: space-between;
}

.box__right h5 {
    font-size  : 20px;
    font-weight: 500;
}



















@media screen and (max-width: 1180px) {
    .container-fluid {
        width: 1030px;
    }

}




@media screen and (max-width: 1270px) {
    .section__body {
        width: 1000px;
    }
}

@media screen and (max-width: 1210px) {
    .section__body {
        width: 950px;
    }
}

@media screen and (max-width: 1080px) {
    .section__body {
        width: 850px;
    }
}

@media screen and (max-width: 990px) {
    .section__body {
        width: 820px;
    }
}

@media screen and (max-width: 890px) {
    .section__body {
        width: 740px;
    }

    .section__menu {
        width: 90px;
    }

    .wrapper__right div {
        display: none;
    }

    .section__advertisement {
        display: block;
    }

    .wrapper__left {
        width: 100%;
    }
}

@media screen and (max-width: 780px) {
    .section__body {
        width: 640px;
    }

    .wrapper__2 div {
        height: 100px;
    }


}

@media screen and (max-width: 670px) {
    .section__body {
        width: 540px;
    }

    .section__advertisement {
        height: 300px;
    }
}

@media screen and (max-width: 560px) {
    .section__body {
        width: 410px;
    }

    .section__menu {
        border-top-left-radius: 20px;
    }
}





@media screen and (max-width: 890px) {
    .section__menu ul li a span {
        display: none;
    }

    .section__menu ul li a i {
        margin: 0;
    }

    .section__menu ul li a {
        margin: 0 auto;
    }

}




@media screen and (max-width: 890px) {
    .head__bottom--body nav a h4 {
        display: none;
    }

    .head__bottom--body nav a {
        justify-content: center;
    }

}

@media screen and (max-width: 908px) {
    .head__left h5 {
        display: none;
    }
}